*{
  margin:0;
  padding: 0;
  border: 0;
}

/* Navbar */
.nav{
  width: 100%;
  background-size: cover;
}
.nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: black;
  text-align: right;   
}

.nav li {
  display: inline-block;
  margin-right: 220px;
}

.nav li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: left;
  padding: 30px 30px;
  text-decoration: none;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 25px;
}

.nav li a:hover {
  background-color: rgb(190, 190, 190);
  color: black;
}

/* Placement logo et taille */
#logo{
  float: left; 
  margin: 10px;
}

#logo1{
  width: 40px
}

/* background */
  .fnaf3{
  background-image: url("img/foret.jpg"); 
  background-size: cover;
  background-position: top center;
  width: 100%;
  position: fixed;
}

.home{
  display: flex;
  color: rgb(255, 255, 255);
  height: 100vh;
  justify-content: space-between;
}


.logo{
  display: flex;
  color: rgb(255, 255, 255);
  height: 100vh;
  justify-content: space-between;
}

.springy{
  width: 145%;
}

#nom{
  color: red;
}

.texteH {
  width: 30%;
  height: 35%;
  margin: 16%;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 43px;
  transform: rotate(-2deg);
  background-color: white;
  background-color:rgba(220,220,220,.1);
}

.presentation{
  margin-left: 15%;
  margin-top: 15%;
  transform: rotate(-3deg);
  font-family: "Pixelify Sans", sans-serif;
}