*{
  margin:0;
  padding: 0;
  border: 0;
}

body{
height: 100vh;
}

/* Navbar */
.nav{
  width: 100%;
  background-size: cover;
  position: fixed;
}

.nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: black;
  text-align: right;   
}

.nav li {
  display: inline-block;
  margin-right: 5%;
}

.nav li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 30px 30px;
  text-decoration: none;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 25px;
}

.nav li a:hover {
  background-color: rgb(190, 190, 190);
  color: black;
}

/* Placement logo et taille */
#logo{
  float: left; 
  margin: 10px;
}

#logo1{
  width: 60px;
}

/* background */
.forest{
  background-image: url("img/foret.jpg"); 
  background-size: cover;
  background-position: top center;
  width: 100%;
  position: fixed;
  height: 100vh;
}

.shelter{
  background-image: url("img/Spooky-tunnel.JPG");
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 100vh;
  position: fixed;
}

.briques{
  background-image: url("img/briques.JPG");
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 100vh;
  position: fixed;
}

/* Home */

.home{
  display: flex;
  color: rgb(255, 255, 255);
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.me{
  display: flex;
  color: rgb(255, 255, 255);
  height: 100vh;
}

.logo{
  display: flex;
  color: rgb(255, 255, 255);
  height: 100vh;
  justify-content: space-between;
}

.soldier{
  width: 50%;
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
}

.texteH {
  background-color: rgba(255, 255, 255, 0.286);
  border-radius: 15px;
  width: 60%;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 2rem;
  text-align: center;
  z-index: 1;
  justify-content: flex-end;
  position: fixed;
  top: 50%;
  right: 5%;
  transform: translate(0, -50%);
}

#nom{
  color: red;
  font-size: 180%;
  margin: 6%;
}

#welcome{
  margin: 5%;
}

.presentation{
  margin-left: 15%;
  margin-top: 15%;
  transform: rotate(-3deg);
  font-family: "Pixelify Sans", sans-serif;
}

/* Page contact */

input[type=text], textarea, input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
  font-family: "Pixelify Sans", sans-serif;
}

label{
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
  font-family: "Pixelify Sans", sans-serif;
  }

input[type=submit] {
background-color: #000000;
color: white;
padding: 12px 20px;
border: none;
font-family: "Pixelify Sans", sans-serif;
cursor: pointer;
}

input[type=submit]:hover {
  background-color: #cf0000;
}

.container {
  box-sizing : border-box;
  border-radius:5px;
  padding:20px;
  width: 75%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.384);
  margin-left: 10%;
  margin-top: 8%;
  display: flex;
  font-family: "Pixelify Sans", sans-serif;
  justify-content: center;
  position: relative;
  color: white;
}

legend{
color: red;
width: 100%;
font-size: 2em;
margin-bottom: 1%;
}

.L2{
  height: 30px;
  width: 30px;
  display: flex;
  margin-left: -10%;
}

.social{
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.social a {
  margin-left: 10px;
}

/* textes */


.texteM {
  width: 100%;
  font-size: 43px;
  display: flex;
}

/* Skills */
.barrecompetence {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2%;
}

.skill {
  width: 60%;
  background-color: #b8b8b8;
  border-radius: 50px;
  margin-top: 30px;
}

.skill2 {
  width: 70%;
  background-color: #870000;
  border-radius: 50px;
  border: 3px solid #b8b8b8;
}

.L{
  height: 40px;
  width: 40px;
  display: flex;
  margin-left: -20%;
}

/* disparu */
@media screen and (max-width: 1160px){

  .soldier{
    display: none;
  }
}


/* apparu */
@media screen and (max-width: 1160px) {
  .menu {
    list-style: none;
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 0;
    background-color: #333;
  }
  
  .menu li {
    position: relative;
  }
  
  .menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
  }
  
  .menu li:hover {
    background-color: #555;
  }
  
  .menu-toggle {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }
  
  .menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #333;
  }

  .texteH {
    background-color: rgba(255, 255, 255, 0.286);
    border-radius: 15px;
    width: 80%;
    margin: 10%;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 2rem;
    text-align: center;
    z-index: 1;
    justify-content: flex-end;
    position: fixed;
    transform: translate(0, -50%);
  }

  .L{
    height: 40px;
    width: 40px;
    display: flex;
    margin-left: -30%;
  }

  .container{
    margin-top: 10%;
}
}